node_modules
.next
.git
.env
.env.local
.env.production
README.md
Dockerfile
.dockerignore
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
searchbizv3
searchbizv2
bizsearch24*
searchbiz*
internal_backups
backup_*
*.bak
